doctype html
head
    meta(charset='UTF-8')
    title login&register
    link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript', src='vendor/jquery/jquery-1.11.1.js')
    script(type='text/javascript', src='vendor/bootstrap/js/bootstrap.min.js')
    link(rel='stylesheet', href='stylesheets/login.css')
    block js_area
body
    .container-fluid
        .bar
            p.top_Webqq My framework demo
        .main
            .row
                #col_img.col-md-6.hidden-xs.hidden-sm
                    .img_box
                        img.main_left(src='images/login/login_1.jpg')
                #col.col-md-6.col-xs-12.col-sm-12
                    block content_area
        .footer
            a(href='#') about us
            a(href='#') connect us
            a(href='#') help
