doctype html
head
    meta(charset='UTF-8')
    title login&register
    link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript', src='vendor/jquery/jquery-1.11.1.js')
    script(type='text/javascript', src='vendor/bootstrap/js/bootstrap.min.js')
    link(rel='stylesheet', href='stylesheets/login.css')
    script(src='vendor/socket.io/socket.io-1.2.0.js')
    block js_area
body
    .container-fluid
        .bar
            img.logo(src='images/xxx')//图片按照你自己的路径
            p.top_xxx
            img.keyword(src='images/xxx')
        .main
            .row
                #col_img.col-md-6.hidden-xs.hidden-sm
                    .img_box
                        img.main_left(src='images/login/login_1.jpg')//图片按照你自己的路径
                        img.pic_down(src='images/login/pic_down.png')//图片按照你自己的路径
                #col.col-md-6.col-xs-12.col-sm-12
                    block content_area
        .footer
            a(href='#') about us
            a(href='#') connect us
            a(href='#') help
