extends login_layout
block js_area
    script( async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvG8QBgXV6msnzH-AtgN-ssWYJBHY5kH4&callback=initMap" )
    script(src='javascripts/register.js')
block content_area
    .login
        // 顶部链接
        .login_bar
            ul
                li
                    a#login_btn(href='login') login
                li
                    a#regist_btn.active(href='#') register
    // 申请成功

    .reg_main
        .main_inner
            .reg_msg.msyh
                p
                    span success，
                    span your no：
                p.rember_uin
                    span.red_text 2557024897
                    span.hidden .
                .login_wrap
                    a.btn.btn-primary(href='./login', title='login', tabindex='3') login
    .regist
        form.reg_form(action='/',method='post')
            .box
                .ipt_box
                    .bg_txt.bg_focus
                        input.user_nick.form-control.new_txt(type='text', placeholder='nickname', name='nickname')
                .info
                    .tips
                        .tip please input nickname
            .box
                .ipt_box
                    .bg_txt.bg_focus
                        input.user_pass.form-control.new_txt(type='password', placeholder='password', name='password')
                .info
                    .tips
                        .tip need length over 2
            .box
                .ipt_box
                    .bg_txt.bg_focus
                        input.user_email.form-control.new_txt(type='email', placeholder='email', name='email')
                .info
                    .tips
                        .tip please input email


            .checkbox2
                label
                    input(type='checkbox')
                    | I agree xxx
            div
                input#submit_input.btn.btn-Info(type='submit', value='register')
            .box
                .info
                    .tips
                        .tip test-map
                .ipt_box
                    .bg_txt.bg_focus
                        input#location.form-control.new_txt(type='text', placeholder='location', name='location')
