<% if (topic.length < 1) {%>
<div class="default-hint">
    <img src="/public/img/gh.png" alt="">
    <strong>nothing!</strong>
</div>
<% } %>
<div>
    <div class="row" style="margin-bottom: 4px;">
        <input type="text" id='search_input' placeholder="Please input the key words">
        <span>            
            <button class="button" id='search_btn'>Search</button>
        </span>
        <select id='search_selector'>
            <option value="all">all</option>
            <option value="meat">meat</option>
            <option value="vegetables">vegetables</option>
            <option value="fruits">fruit</option>
            <option value="milk">milk</option>
            <option value="juices">juices</option>
            <option value="yogurt">yogurt</option>
            <option value="snacks">snacks</option>
            <option value="frozen instant foods">frozen instant foods</option>
            <option value="desserts">desserts</option>
        </select>
    </div>
</div>

<script type="text/javascript">
    $('#search_btn').on('click', function () {
        var text = $('#search_input').val();
        // var option = $('#search_selector').val();
        var newtopic = getNewTopic(text);
    });

    $('#search_selector').change(function () {
        var category = $('#search_selector').val();
        if ('all' == category) $('.post-item').show();
        $('h5[id=category]').each(function () {
            var this_category = $(this).children('a').text();
            if (this_category != category && category != 'all') {
                $(this).parent().parent().hide()
            } else if (this_category == category) {
                $(this).parent().parent().show();
            }
        });
    });
</script>


<% for (var i = 0; i < topic.length; i++){ %>
<div class="post-item post-id-<%= topic[i]._id %>">
    <div class="post-head clearfix">
        <a class="avatar clearfix" href="/people/<%= topic[i].author.loginname %>" target="_blank">
            <img src="<%= topic[i].author.avatar %>" alt="" width="50" height="50">
            <span class="name"><%= topic[i].author.loginname %></span>
        </a>
        <div class="user-info">
            <a class="name" href="/people/<%= topic[i].author.loginname %>" target="_blank"><%=
                topic[i].author.loginname %></a>
            <p class="ell"><%= topic[i].author.description %></p>
        </div>
    </div>
    <div class="content">
        <h3 class="title content-title">Description: <a href="/topic/<%= topic[i]._id %>" target="_blank"><%=
            topic[i].title %></a>
        </h3>
        <h5 id='category' class="title content-title category-<%= topic[i].category %>">Category: <a
                href="/topic/<%= topic[i]._id %>" target="_blank"><%=
            topic[i].category %></a>
        </h5>
        <a href="/topic/<%= topic[i]._id %>" target="_blank" class="picture">
            <img class="content-picture" src="<%= topic[i].content + config.qiniu.watermark %>" alt="">
        </a>
    </div>
    <div class="port">
        <div class="loc" style="float: left;">
            <a>
                <span><em class="iconfont"></em><em id="distance"><%= topic[i].location %></em></span>
            </a>
        </div>
        <div class="bar">
            <a class="reply-button" href="javascript:void(0)" data-topic-id="<%= topic[i]._id %>">
                <span><i class="iconfont">&#xe870;</i><%= topic[i].reply_count %></span>
            </a>
            <a class="like<% if (topic[i].liked === 1){ %> on<%}%>" href="javascript:void(0)"
               liked="<%= topic[i].liked %>" data-topic-id="<%= topic[i]._id %>">
                <span><i class="iconfont"><% if (topic[i].liked === 1){ %>&#xe60a;<%}else{%>&#xe63b;<%}%></i><em><%= topic[i].like_count %></em></span>
            </a>


            <% if (user.state_login && user.info._id == topic[i].author.id) { %>

            <a class="delete" href="javascript:void(0)" data-topic-id="<%= topic[i]._id %>">
                <span><i class="iconfont">&#xe63e;</i></span></a>
            <a id="edit" href="/post/edit/<%= topic[i]._id %>" data-topic-id="<%= topic[i]._id %>">
                <span><i class="iconfont">&#xe615;</i></span></a>

            <% } else { %>

            <a class="buy" href="javascript:void(0)" data-topic-id="<%= topic[i]._id %>">
                <span><i class="iconfont">&#xe63e;</i>request</span></a>
            <% } %>
        </div>
    </div>
    <div class="reply">
        <div class="default"><i class="iconfont">&#xe61f;</i><span>loading...</span></div>
        <div class="reply-wrap">

        </div>
        <div class="comment clearfix">
            <textarea class="comment-content" data-topic-id="<%= topic[i]._id %>"
                      placeholder="say something"></textarea>
            <span class="comment-bnt">comment</span>
        </div>
    </div>
</div>

<% } %>
<script type="text/javascript">

    function deleteReply(topicId) {
        // alert(topicId);
        var data = '_id=' + topicId;
        $.ajax({
            type: 'post',
            url: '/api/post/deleteReply',
            data: data,
            success: function (data) {
                alert('delete successful!');
                location.reload();
            },
            error: function () {
            }
        });
    }

    var $deleteButton = $('.delete');
    $deleteButton.on('click', function () {
        if (!window.login_state) {
            window.location.href = '/user/login';
            return hint('need login first!');
        }
        var $This = $(this);
        var index = $deleteButton.index($This);
        deleteReply($This.attr('data-topic-id'), function (err, msg) {
            if (err) return hint('server error!');
            hint(msg.hint);
        });
    });


    <%
    if (user.state_login) { %>

        if (window.location.pathname == "/people/<%= user.info.loginname %>" && $('.category-meat').size() >= 1) {
            alert(" intelligent remind：please do not buy too many meat! Share food . ")
        }
    <%
    }
    %>

</script>
