<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%= title + ' ' + config.title %></title>
    <meta name="description" content="<%= config.description %>"/>
    <meta name="keywords" content="<%= config.keywords %>"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon"/>

    <%-
    Loader('/public/css/upload_index.css')
    .css('/public/css/default.css')
    .css('/public/css/header.css')
    .css('/public/css/upload.css')
    .css('/public/css/head_phone.css')
    .css('/public/css/footer.css')
    .done(assets, config.static_host, config.mini_assets)
    %>

    <script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
    <%-
    Loader('/public/js/upload_index.js')
    .js('/public/js/hint.js')
    .js('/public/js/api.js')
    .js('/public/js/head_phone.js')
    .done(assets, config.static_host, config.mini_assets)
    %>
</head>
<body>
<%- include('../header.html', {user: user}) %>

<div class="upload">
    <div class="content">
        <div class="up-head">
            <i class="iconfont">&#xe616;</i>Add Listing
        </div>
        <div class="up-form">
            <div class="group clearfix">
                <p>Photo</p>
                <form id="form-img" action="/api/post/upload" method="post" target="iframe-img"
                      enctype="multipart/form-data">
                    <input id="action" name="avatar" type="file">
                    <iframe style="display: none;" id="iframe-img" name="iframe-img"></iframe>
                    <i class="bn">+</i>
                    <span class="hint">support format: JPEG\PNG\GIF  <br>  size limit:3MB</span>
                </form>
                <img src="" alt="" class="show-img" onclick="inputFile()">
            </div>
            <div class="group clearfix">
                <p>Description</p>
                <textarea id="title" placeholder="e.g. Quality,auantity,use by date"></textarea>
                <!--<p class="hint">e.g. Quality,auantity,use by date</p>-->
            </div>
            <div class="group clearfix">
                <p>Location</p>
                <textarea id="location" placeholder="detail address"></textarea>
                <input type="text" id="lat" name="lat" hidden/>
                <input type="text" id="lng" name="lng" hidden/>
                <!--<p class="hint">detail address</p>-->
                <div id="allmap" style="height: 234px; display: none"></div>
            </div>
            <div class="upload-bnt">Submit</div>
        </div>

    </div>
    <div class="side">
        <h2>FAQ</h2>
        <h3>1. High quality pictures are more attractive </h3>
    </div>
</div>

<%- include('../footer.html') %>
<script type="text/javascript">

    // 上传食物帖子图片
    uploadPostImg($('#action'), $('.show-img'));

    // 上传食物帖子
    $('.upload-bnt').on('click', function () {
        uploadPost($('#title').val(), $('.show-img').attr('src'), $('#location').val(), $('#lat').val(), $('#lng').val())
    });

    // 点击已经上传了的图片时候弹出图片选择框
    function inputFile() {
        return $('#action').click();
    }

</script>

<!--<script type="text/javascript">-->
<!--var allMapDiv = $("#allmap");-->
<!--var locationTextArea = $("#location");-->
<!--// 百度地图API功能-->
<!--var map = new BMap.Map("allmap");-->
<!--var point = new BMap.Point(116.331398, 39.897445);-->
<!--map.centerAndZoom(point, 12);-->

<!--var geolocation = new BMap.Geolocation();-->
<!--geolocation.getCurrentPosition(function (r) {-->
<!--if (this.getStatus() == BMAP_STATUS_SUCCESS) {-->
<!--allMapDiv.show();-->
<!--var mk = new BMap.Marker(r.point);-->
<!--map.addOverlay(mk);-->
<!--map.centerAndZoom(r.point, 12);-->
<!--// alert('您的位置：'+r.point.lng+','+r.point.lat);-->
<!--var addressCompose = r.address;-->
<!--var address = addressCompose.province + addressCompose.city + addressCompose.street + addressCompose.street_number;-->
<!--locationTextArea.text(address);-->
<!--console.log(address)-->
<!--}-->
<!--// else {-->
<!--//     alert('failed' + this.getStatus());-->
<!--// }-->
<!--}, {enableHighAccuracy: true})-->
<!--//关于状态码-->
<!--//BMAP_STATUS_SUCCESS	检索成功。对应数值“0”。-->
<!--//BMAP_STATUS_CITY_LIST	城市列表。对应数值“1”。-->
<!--//BMAP_STATUS_UNKNOWN_LOCATION	位置结果未知。对应数值“2”。-->
<!--//BMAP_STATUS_UNKNOWN_ROUTE	导航结果未知。对应数值“3”。-->
<!--//BMAP_STATUS_INVALID_KEY	非法密钥。对应数值“4”。-->
<!--//BMAP_STATUS_INVALID_REQUEST	非法请求。对应数值“5”。-->
<!--//BMAP_STATUS_PERMISSION_DENIED	没有权限。对应数值“6”。(自 1.1 新增)-->
<!--//BMAP_STATUS_SERVICE_UNAVAILABLE	服务不可用。对应数值“7”。(自 1.1 新增)-->
<!--//BMAP_STATUS_TIMEOUT	超时。对应数值“8”。(自 1.1 新增)-->
<!--</script>-->
<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.

    var allMapDiv = $("#allmap");
    var locationTextArea = $("#location");


    function initMap() {

        var startPos;
        var geoOptions = {
            maximumAge: 5 * 60 * 1000,
            timeout: 10 * 1000,
            enableHighAccuracy: true
        };


        var map = new google.maps.Map(document.getElementById('allmap'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 6
        });


        var geoSuccess = function (position) {
            startPos = position;
            geocodeLatLng(startPos.coords.latitude, startPos.coords.longitude, map);

        };


        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(geoSuccess, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            }, geoOptions);
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
    }


    function geocodeLatLng(lat, lng, map) {
        allMapDiv.show();
        var location = {lat: parseFloat(lat), lng: parseFloat(lng)};
        document.getElementById('lat').value = lat;
        document.getElementById('lng').value = lng;
        var geocoder = new google.maps.Geocoder;
        map.setCenter(location);
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        geocoder.geocode({'location': location}, function (results, status) {
            if (status === 'OK') {
                console.log(results);
                if (results[0]) {
                    document.getElementById('location').innerHTML = results[0].formatted_address;
                    var street = "";
                    var city = "";
                    var state = "";
                    var country = "";
                    var zipcode = "";
                    for (var i = 0; i < results.length; i++) {
                        if (results[i].types[0] === "locality") {
                            city = results[i].address_components[0].long_name;
                            state = results[i].address_components[2].long_name;

                        }
                        if (results[i].types[0] === "postal_code" && zipcode == "") {
                            zipcode = results[i].address_components[0].long_name;

                        }
                        if (results[i].types[0] === "country") {
                            country = results[i].address_components[0].long_name;

                        }
                        if (results[i].types[0] === "route" && street == "") {

                            for (var j = 0; j < 4; j++) {
                                if (j == 0) {
                                    street = results[i].address_components[j].long_name;
                                } else {
                                    street += ", " + results[i].address_components[j].long_name;
                                }
                            }

                        }
                        if (results[i].types[0] === "street_address") {
                            for (var j = 0; j < 4; j++) {
                                if (j == 0) {
                                    street = results[i].address_components[j].long_name;
                                } else {
                                    street += ", " + results[i].address_components[j].long_name;
                                }
                            }

                        }
                    }
                    if (zipcode == "") {
                        if (typeof results[0].address_components[8] !== 'undefined') {
                            zipcode = results[0].address_components[8].long_name;
                        }
                    }
                    if (country == "") {
                        if (typeof results[0].address_components[7] !== 'undefined') {
                            country = results[0].address_components[7].long_name;
                        }
                    }
                    if (state == "") {
                        if (typeof results[0].address_components[6] !== 'undefined') {
                            state = results[0].address_components[6].long_name;
                        }
                    }
                    if (city == "") {
                        if (typeof results[0].address_components[5] !== 'undefined') {
                            city = results[0].address_components[5].long_name;
                        }
                    }

                    var address = {
                        "street": street,
                        "city": city,
                        "state": state,
                        "country": country,
                        "zipcode": zipcode,
                    };
                    console.log(address);
                } else {
                    window.alert('No results found');
                }
            } else {
                window.alert('Geocoder failed due to: ' + status);
            }
        });
    }


</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvG8QBgXV6msnzH-AtgN-ssWYJBHY5kH4&callback=initMap">
</script>

</body>
</html>
