<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%= title + ' ' + config.title %></title>
    <meta name="description" content="<%= config.description %>"/>
    <meta name="category" content="<%= config.category %>"/>
    <meta name="keywords" content="<%= config.keywords %>"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon"/>

    <%-
    Loader('/public/css/upload_index.css')
    .css('/public/css/default.css')
    .css('/public/css/header.css')
    .css('/public/css/upload.css')
    .css('/public/css/head_phone.css')
    .css('/public/css/footer.css')
    .done(assets, config.static_host, config.mini_assets)
    %>

    <script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
    <%-
    Loader('/public/js/upload_index.js')
    .js('/public/js/hint.js')
    .js('/public/js/api.js')
    .js('/public/js/head_phone.js')
    .done(assets, config.static_host, config.mini_assets)
    %>
</head>
<body>
<%- include('../header.html', {user: user}) %>

<div class="upload">
    <div class="content">
        <div class="up-head">
            <i class="iconfont">&#xe616;</i>Edit Post
        </div>
        <div class="up-form">
            <div class="group clearfix">
                <p>Photo</p>
                <form id="form-img" action="/api/post/upload" method="post" target="iframe-img"
                      enctype="multipart/form-data">
                    <input id="action" name="avatar" type="file">
                    <iframe style="display: none;" id="iframe-img" name="iframe-img"></iframe>
                    <i class="bn">+</i>
                    <span class="hint">support format: JPEG\PNG\GIF  <br>  size limit:3MB</span>
                </form>
                <img src="<%= topic[0].content + config.qiniu.watermark %>" alt="" class="show-img"
                     onclick="inputFile()">
            </div>
            <div class="group clearfix">
                <p>Description</p>
                <textarea id="title" placeholder="e.g. Quality,auantity,use by date"><%= topic[0].title %></textarea>
                <!--<p class="hint">e.g. Quality,auantity,use by date</p>-->
            </div>
            <div class="group clearfix">
                <p>Category</p>
                <!-- <textarea id="title" placeholder="e.g. Quality,auantity,use by date"></textarea> -->
                <!-- meat, vegetables, fruits, milk, fruit juices, yogurt, snacks, frozen instant foods, desserts -->
                <select id='selector'>
                    <option value="meat">meat</option>
                    <option value="vegetables">vegetables</option>
                    <option value="fruits">fruit</option>
                    <option value="milk">milk</option>
                    <option value="juices">juices</option>
                    <option value="yogurt">yogurt</option>
                    <option value="snacks">snacks</option>
                    <option value="frozen instant foods">frozen instant foods</option>
                    <option value="desserts">desserts</option>
                </select>
                <!--<p class="hint">e.g. Quality,auantity,use by date</p>-->
            </div>
            <div class="group clearfix">
                <p>Location</p>
                <textarea id="location" placeholder="detail address"><%= topic[0].location %>"</textarea>
                <!--<p class="hint">detail address</p>-->
                <div id="allmap" style="height: 234px; display: none"></div>
            </div>
            <div class="upload-bnt">Submit</div>
        </div>

    </div>
    <div class="side">
        <h2>FAQ</h2>
        <h3>1. High quality pictures are more attractive </h3>
    </div>
</div>

<%- include('../footer.html') %>
<script type="text/javascript">

    
    uploadPostImg($('#action'), $('.show-img'));


    function editPost(title, content, location, lat, lng, category) {

        console.log(title, content);
        if (!title)
            return hint('need description!');

        if (!category)
            return hint('need to choose category');

        if (title.length < 2)
            return hint('description is too short!');

        if (!content)
            return hint('need image!');
        if (!location)
            return hint('need location!');
        data = 'title=' + title + '&content=' + content + '&location=' + location + '&lat=' + lat + '&lng=' + lng + '&category=' + category;
        $.ajax({
            type: 'POST',
            url: '/api/post/edit/' + '<%= topic[0].id %>',
            data: data,
            success: function (msg) {
                hint(msg.hint);
            },
            error: function () {
                hint('server error!');
            }
        });
    }


    
    $('.upload-bnt').on('click', function () {

        editPost($('#title').val(),
            $('.show-img').attr('src'),
            $('#location').val(),
            $('#lat').val(),
            $('#lng').val(),
            $("#selector").val())
    });

    
    function inputFile() {
        return $('#action').click();
    }

    if ($('.show-img')[0].src) {
        $('#form-img').css('display', 'none');
        $('.show-img').css('display', 'block');
    }
    if ("<%= topic[0].category %>") {
        $('#selector').val("<%= topic[0].category %>")
    }

</script>

</body>
</html>
