# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### ExtJs template
.architect
bootstrap.json
build/
ext/
node_modules/
*.log